In [6]:
import json
import pandas as pd

In [7]:
data = [json.loads(line) for line in open('29.json').readlines()]

In [8]:
type(data[0]['lang'])
print(data[4]['user']['location'])
# sample_dict = {'tweet_id': ['001','002','003'], 'year': [2020, 2020, 2020], 'tweet_text': ["War doesn't show who's right, just who's left.", "Hello","Merhaba benim adım Faraz"], 'location': ['Berlin','Berlin','Berlin']}
# sample_df = pd.DataFrame(data=smaple_dict)#.set_index('tweet_id', drop = False)
# sample_df#.drop(columns='tweet_id')

Estados Unidos

In [9]:
#create empty dictionary and tweet counter
dict_01 = {'date': [], 'tweet_text': [], 'location': [], 'language': []}

#for each tweet in the Twitter data
for tweet in data:
    
    #check key exists (otherwise throws error if key inexistent in some tweet) and append to dictionary.
    
    if 'created_at' in tweet.keys():
        dict_01['date'].append(tweet['created_at'])
    else:
        dict_01['date'].append('Apr 2015')
        
    if 'text' in tweet.keys():
        dict_01['tweet_text'].append(tweet['text'])
    else:
        dict_01['tweet_text'].append('Null')
        
    if 'user' in tweet.keys():
        if 'location' in tweet['user'].keys():
            dict_01['location'].append(tweet['user']['location'])
        else:
            dict_01['location'].append('Null')
    else:
        dict_01['location'].append('Null')
        
    if 'lang' in tweet.keys():
        dict_01['language'].append(tweet['lang'])
    else:
        dict_01['language'].append('Null')

In [10]:
df_01 = pd.DataFrame(dict_01)

In [11]:
df_01.head()

,date,tweet_text,location,language
0,Mon Apr 01 06:29:00 +0000 2019,RT @kantei: 【お知らせ】新元号は「令和」に決まりました。,None,ja
1,Mon Apr 01 06:29:00 +0000 2019,RT @PejuangKuis: [ GIVEAWAY KUYY ]\n\nMau Sald...,"Blora, Indonesia",in
2,Mon Apr 01 06:29:00 +0000 2019,RT @sho__0203: 平成最後なんで大型企画やります！\n\nPS4を238台用意し...,静岡 清水区,ja
3,Mon Apr 01 06:29:00 +0000 2019,RT @mong_arashi: 봄버님한테 멘션드리면서 깨달은 건데 아이바 있는 힘껏...,쟈니스 옥상,ko
4,Mon Apr 01 06:29:00 +0000 2019,RT @iniciados123: Cortito placentero. https://...,Estados Unidos,es

In [77]:
df_01[df_01.location=='DE']

Empty DataFrame
Columns: [date, tweet_text, location, language]
Index: []

In [51]:
#create empty dictionary and tweet counter
dict_02 = { 'geolocalization': []}
#add user language

#for each tweet in the Twitter data
for tweet in data:   
    #check key exists (otherwise throws error if key inexistent in some tweet) and append to dictionary.
    if 'geo' in tweet.keys():
        if tweet['coordinates'] != None:
            dict_02['geolocalization'].append(tweet['coordinates'])

    
#     if 'created_at' in tweet.keys():
#         dict_02['date'].append(tweet['created_at'])
#     else:
#         dict_02['date'].append('Apr 2015')
    
#     if 'text' in tweet.keys():
#         dict_02['tweet_text'].append(tweet['text'])
#     else:
#         dict_02['tweet_text'].append('Null')
             
#     if 'user' in tweet.keys():
#         if 'location' in tweet['user'].keys():
#             dict_01['location'].append(tweet['user']['location'])
#         else:
#             dict_01['location'].append('Null')
#     else:
#         dict_01['location'].append('Null')
            
#     if 'lang' in tweet.keys():
#         dict_01['language'].append(tweet['lang'])
#     else:
#         dict_01['language'].append('Null')

In [52]:
df_02 = pd.DataFrame(dict_02)

In [53]:
df_02

Empty DataFrame
Columns: [geolocalization]
Index: []